@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 240 5.9% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 5.9% 90%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 80% 65%;
    --primary-foreground: 255 100% 100%;
    --secondary: 35 100% 60%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5.9% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 250 40% 30%;
    --accent-foreground: 240 5.9% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 5.9% 98%;
    --border: 240 5.9% 80%;
    --input: 240 5.9% 85%;
    --ring: 250 80% 65%;
    --radius: 0.5rem;
    --chart-1: 250 80% 50%;
    --chart-2: 35 80% 50%;
    --chart-3: 180 80% 50%;
    --chart-4: 220 80% 50%;
    --chart-5: 10 80% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5.9% 98%;
    --card: 240 10% 10%;
    --card-foreground: 240 5.9% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 5.9% 98%;
    --primary: 250 80% 60%;
    --primary-foreground: 240 5.9% 98%;
    --secondary: 35 100% 55%;
    --secondary-foreground: 240 5.9% 98%;
    --muted: 240 10% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 250 40% 40%;
    --accent-foreground: 240 5.9% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 5.9% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 250 80% 60%;
    --chart-1: 250 80% 50%;
    --chart-2: 35 80% 50%;
    --chart-3: 180 80% 50%;
    --chart-4: 220 80% 50%;
    --chart-5: 10 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
